.header {
  color: white;
  text-align: center;
}

.pic {
  height: 500px;
  text-align: center;
}

.text {
  display: flex;
  justify-content: center;
}

.column {
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
    height: 30px; 
}

.row {
  display: flex;
}